@import "constants.scss";

.educationItem:not(:last-child) {
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.dateRange {
  text-align: right;
}

.institution {
  @extend %uppercase-spaced;
}

.details {
  display: flex;
  justify-content: space-between;
}

.grade {
  text-align: right;
}

.awards {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 0.25em;
  li {
    display: inline-block;
    border-radius: $border-radius;
    border: 1px solid $blackbox-blue;
    color: $blackbox-blue;
    padding: 0.25em 0.5em;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
