@charset 'UTF-8';

$white: #fff;
$blackbox-blue: #1b5299;
$dark-gray: rgb(51, 51, 51);

$header-height: 140px;
$default-padding: 50px;
$serif-stack: 'Cardo', sans-serif;
$sans-stack: 'Open Sans', sans-serif;

$border-radius: 5px;

%uppercase-spaced {
  font-family: $sans-stack;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $blackbox-blue;
}
