@import "constants.scss";

:global {
  body {
    font-family: $serif-stack;
    font-size: 12px;
    padding: $default-padding;
    padding-bottom: 0;
    color: $dark-gray;
  }

  footer {
    border-top: 3px solid $blackbox-blue;
    margin: 0 (-$default-padding);
  }

  h1 {
    display: block;
    margin-bottom: 3rem;
    font-family: $sans-stack;
    font-size: 64px;
    font-weight: 100;
    line-height: 1em;
    border-bottom: 3px solid $blackbox-blue;
  }

  a {
    color: $blackbox-blue;
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:visited,
    &:active {
      color: $blackbox-blue;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  #main {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100vh;
  }

  section {
    margin-bottom: 4rem;
  }
}
