@charset 'UTF-8';

$tardis-blue: rgb(0, 62, 103);
$blackbox-blue: #1b5299;
$dark-gray: rgb(51, 51, 51);

$header-height: 140px;
$default-padding: 50px;

body {
  font-family: 'Cardo', sans-serif;
  font-size: 18px;
  padding: $default-padding;
  // margin-top: $header-height + $default-padding * 2;
  color: $dark-gray;
}

header {
  h1 {
    visibility: hidden;
  }
}

h1 {
  display: inline-block;
  // color: $blackbox-blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 100;
  // letter-spacing: -.1em;
  line-height: 1em;
  border-bottom: 3px solid $blackbox-blue;
  // margin-left: .1em;
}

a {
  color: $blackbox-blue;
  text-decoration: none;
  font-weight: bold;
  &:hover, &:visited, &:active {
    color: $blackbox-blue;
  }
  &:hover {
    text-decoration: underline;
  }
}

#indiana {
  width: 10vw;
  path {
    stroke-width: 3px;
    stroke: $dark-gray;
    fill: white;
    transition: fill ease 1s;
  }
  &.done {
    path {
      fill: $blackbox-blue;
    }
  }
}

#logo {
  position: fixed;
  width: 10vw;
  path {
    stroke-width: 1vw;
    stroke: black;
    fill: none;
  }
}

section {
  min-height: 100vh;
  width: 66vw;
  max-width: 660px;
  margin-left: 10vw;
  padding-left: 5vw;
}
